.p-rel{
    position: relative;
}

.dis-flex{
    display: flex;
    align-items: center;
}

.nest-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m0{
    margin-top: -14px;
}

.nest-flex-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-padding{
    position: relative;
}




@media screen and (min-width: 1280px) {
    .res-padding{
        margin-right: 13px;
        padding-left: 13px;
    }

    .boxes_accodian1{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0066b1;
        flex-direction: column;
        height: 120px;
        width: 160px;
    }

    .boxes_accodian{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        flex-direction: column;
        height: 120px;
        width: 160px;
    }
    
    
}

@media screen and (max-width: 768px) {
    .res-padding{
        padding-left: 0px;
        padding-top: 15px;
    }
    
    .drop_down{
        margin-bottom: 65px;
    }

    .boxes_accodian1{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0066b1;
        flex-direction: column;
        height: 75px;
        width: 110px;
    }

    .boxes_accodian{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        flex-direction: column;
        height: 75px;
        width: 110px;
    }
}

 